@import url('https://fonts.googleapis.com/css?family=Cantarell|Cardo');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* TYPOGRAPHY CSS */
h1, legend {
    font-family: 'Cardo', serif;
}

p, label {
    font-family: 'Cantarell', sans-serif;
}

body {
    background-color: gainsboro;
    padding: 0;
    margin: 0;
}

div.container {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 550px;
    background-color: darkseagreen;
    padding: 10px;
    margin: 10px auto;
}

form#register {
    float: left;
    display: block;
    width: 100%;
    max-width: 350px;
    height: 480px;
    background-color: #2E2E2E;
    padding: 15px;
    margin: 10px;
}

form#register fieldset {
    border: 2px solid #FFF;
    padding: 20px;
}

form#register legend {
    font-size: 1.4rem;
    color: #FFF;
    padding: 0 5px;
}

form#register label {
    float: left;
    display: block;
    width: 100%;
    max-width: 220px;
    height: 30px;
    font-size: 1.2rem;
    color: #FFF;
    line-height: 30px;
    text-transform: capitalize;
}

form#register input {
    outline: none;
    border: none;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 30px;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.0rem;
    color: #2E2E2E;
    padding: 0 5px;
    margin-bottom: 5px;
}

form#register input[type=submit] {
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 80px;
    height: 35px;
    background-color: darkseagreen;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
}

form#register input[type=submit]:hover {
    background-color: seagreen;
}

div.info {
    float: left;
    display: block;
    width: 100%;
    max-width: 390px;
    height: 480px;
    background-color: #FFF;
    padding: 15px;
    margin: 10px;
}

div.info h1 {
    font-size: 1.8rem;
    line-height: 2.0;
}

div.info ol {
    list-style: decimal;
    padding: 0 20px;
}
div.info ol li {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}



